<?xml version="1.0"?>
<robot name="first_robot">
    <link name="base_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder length="0.12" radius="0.10" />
            </geometry>
            <material name="white">
                <color rgba="1.0 1.0 1.0 0.5" />
            </material>
        </visual>
    </link>

    <link name="imu_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.02 0.02 0.02" />
            </geometry>
        </visual>
        <material name="black">
            <color rgba="0 0 0 0.5" />
        </material>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="0 0 0.03" rpy="0 0 0" />
    </joint>

</robot>